@use "../../styles/global.module.scss" as global;

.Content {
	position: relative;
}

.Screen {
	margin-top: 0px;
	margin-bottom: 50px;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
	@media (min-width: 800px) {
		& {
			margin-top: 100px;
		}
	}
}

.Text {
	display: none;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 135.023%; /* 64.811px */
	letter-spacing: -1.92px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	@media (min-width: 800px) {
		& {
			display: block;
		}
	}
}

.TextGradient {
	display: inline;
	background-image: linear-gradient(86deg, #0047FF 34.5%, #794AFF 82.38%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.Footer {
	&Img {
		width: 100vw;
		position: absolute;
		@media (min-width: 601px) {
			width: 100%;
			margin-left: 0%;
			margin-right: 0%;
		}
		z-index: -1;
	}

	&Content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-top: calc(100vw / 7.7);
		@media (min-width: 601px) {
			& {
				padding-top: calc(100vw / 25);
				margin-left: 40%;
			}
		}

		@media (min-width: 900px) {
			& {
				gap: 20px;
			}
		}
		
	}

	&Text {
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 135.023%; /* 32.405px */
		letter-spacing: -0.96px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@media (min-width: 601px) {
			& {
				text-align: left;
				margin-left: 0px;
				margin-right: 0px;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 135.023%; /* 32.405px */
				letter-spacing: -0.96px;
			}
		}

		@media (min-width: 900px) {
			& {
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: 135.023%; /* 32.405px */
				letter-spacing: -0.96px;
			}
		}
		
		@media (min-width: 1251px) {
			& {
				font-size: 36px;
				font-style: normal;
				font-weight: 500;
				line-height: 135.023%; /* 48.608px */
				letter-spacing: -1.44px;	
			}
		}
		color: white;
		
	}

	&PlaceButtons {
		display: flex;
		gap: 10px;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: 601px) {
			& {
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}

	&Button {
		display: flex;
		width: max-content;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 12px;
		padding-bottom: 12px;
		gap: 8px;
		@media (min-width: 600px) {
			& {
				padding-left: 8px;
				padding-right: 8px;
				padding-top: 6px;
				padding-bottom: 6px;
				gap: 4px;
			}
		}
		@media (min-width: 900px) {
			& {
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 12px;
				padding-bottom: 12px;
				gap: 8px;
			}
		}
		border-radius: 0.5rem;
	}


	&Nav {
		
		flex-direction: column;
		gap: 11px;
		display: none;
		margin-left: 42%;

		@media (min-width: 601px) {
			& {
				display: flex;
				margin-top: calc(100vw / 20);
			}
		}

		@media (min-width: 730px) {
			& {
				display: flex;
				margin-top: calc(100vw / 12);
			}
		}

		@media (min-width:780px) {
			& {
				margin-top: calc(100vw / 10);
			}
		}

		@media (min-width:1250px) {
			& {
				margin-top: calc(100vw / 8);
			}
		}

		@media (min-width:1800px) {
			& {
				margin-top: calc(100vw / 6);
			}
		}
		
		&Btns {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;

			@media (min-width: 768px) {
				& {
					gap: 20px;
				}
			}

			@media (min-width: 1250px) {
				& {
					gap: 50px;
				}
			}
		}

		&Btn {
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px;
			@media (min-width: 768px) {
				& {
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
				}
			}
		}
	}

	&Under {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 21px; /* 150% */
		opacity: 0.5;
	}
}

.MobileNav {
	margin-top: calc(100vw / 4);
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	margin-left: 24px;
	margin-right: 24px;
	gap: 20px;

	@media (min-width: 401px) {
		margin-top: calc(100vw / 3);
	}

	@media (min-width: 601px) {
		display: none;
	}

	&Btns {
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	&Bt {
		display: flex;
		gap: 50px;
	}
}

.cursor_pointer {
	cursor: pointer;
	font-weight: 500;
}

.LogoBtn {
	display: flex;
	gap: 10px;
}

.Logo {
	width: auto;
	@media (min-width: 600px) {
		& {
			width: 16px;
		}
	}

	@media (min-width: 900px) {
		& {
			width: auto;
		}
	}
	
}

.Decoration {
	z-index: -1;
	position: absolute;
	display: none;
	left: 0;
	top: -300px;
	@media (min-width: 780px) {
		& {
			display: block;
		}
	}
}

.Decoration2 {
	z-index: -1;
	position: absolute;
	display: none;
	right: 0;
	top: -300px;
	@media (min-width: 780px) {
		& {
			display: block;
		}
	}
}

.cursor_pointer {
	cursor: pointer;
}

.BtnTitle {
	font-size: 15.217px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}